<footer>
    <div class="footer-content">
        <div>
            <h3>About Me</h3>
            <p>I'm a passionate developer with experience in building web applications. Let's connect and collaborate!</p>
        </div>
        <div>
            <h3>Quick Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </div>
        <div>
            <h3>Contact Me</h3>
            <p>Email: <a href="mailto:nihardholaria@gmail.com">nihardholaria@gmail.com</a></p>
            <p>Phone: +1 548-577-5498</p>
        </div>
    </div>

    <div class="social-icons">
        <a href="https://www.linkedin.com/in/nihar-dholaria-666a53279/" target="_blank">LinkedIn</a>
        <a href="https://github.com/nihar4694" target="_blank">GitHub</a>
        <a href="https://twitter.com" target="_blank">Twitter</a>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Nihar Dholaria. All Rights Reserved.</p>
    </div>
</footer>
